* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Georgia', serif;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  height: 30px;
  margin-bottom: 5px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
}

.logo p {
  font-size: 12px;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav a.active {
  border-bottom: 2px solid white;
}

.hero {
  height: 60vh;
  background: url('img1.avif') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  font-size: 80px;
  color: white;
  font-family: serif;
  font-style: italic;
  font-weight: 100;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
}

.gallery-row img {
  width: 33%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  
}
.heading{
    background-color: black;
}
.box{
    display: flex;
    width: 33%;
    text-align: center;
    flex-wrap: wrap;
}
